body { margin-left: 20px;}

sourceCode {
  Consolas, Menlo, 'Liberation Mono', Courier, monospace;
}

th, td {
  border: 1px #c0c0c0 solid;
}

td {
  vertical-align: top;
  padding: 5px;
}

tr.even { background-color: #fafafa; }
